stages:
  - build
  - test


build-job:
  stage: build
  before_script:
    - |
      apk update 
      apk add build-base make tree sdl2 sdl2_image pkgconfig
  script:
    - make clean
    - make build
    - test -d ./obj || echo "missing folder ./obj/" || tree ./obj/ || exit 1
    - make prod
    - test -d ./bin || echo "missing folder ./bin" || tree ./bin || exit 1
    - test -f ./bin/Release/Lezcollitade || echo "missing prod bin" || tree ./bin/ || exit 1

unit_test:
  stage: test
  image: ubuntu:22.04
  before_script:
    - apt-get update -y && apt-get install -y libcriterion-dev build-essential
  script:
    - make test
